:root
{
  --border-color-list: antiquewhite;
  --border-color-trade: #ff8f8f ;
  --bc-color-team: #F0A500     ;
  --bc-color-player: #A9A9A9    ;
  --text-color:whitesmoke ;
}

html,body, #root
{
  width: 100%;
  height: 100%;
  background-color:#0077C0   /*0077C0*/  ;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin: 0;
}

#machine
{
  display: flex;
  width: 100%;
  height: 100%;
}

#machine button
{
  border-style: none;
  background-color: var(--bc-color-team); /*  #4c394d; */
  border: 1px ridge var(--border-color-list);
  border-radius: 5px;
  color: var(--text-color);
}

#add
{
  width: 25%;
  height: min-content;
  background-color: red;
  transition: height 4s ease-in-out;
  transition-delay: 0.5s;
}

#item-list
{
  display: flex;
  justify-content: space-around;
}

.type-list
{
  display: block;
  width: 45%;
}

.type-list p
{
  color: var(--text-color);
}

.item
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bc-color-team);
  border: ridge;
  border-width: 1px;
  border-radius: 3px;
}

.item img
{
  width: 2rem;
  height: 2rem;
}

.item p
{
  color: var(--text-color);
  font-size: 14px;
  padding-left: 15px;
}

#trade
{
  display: block;
  justify-content: space-between;
  height: max-content;
  width: 75%;
  transition: background-color 0.2s;
}

.main-container
{
  display: block;
}

.main-container section
{
  color: var(--text-color);
}

.total-item-list
{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.total-item-container
{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-content: space-between;
}

#trade-button
{
  display: flex;
  justify-content: center;
}

.trade-item-container 
{
  border-style: ridge;
  border-color:var(--border-color-list);
  border-width: 1px;
  border-radius: 3px;
  background-color:var(--bc-color-player) ;
}

.trade-item 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.trade-item img
{
  width: 4rem;
  height: 3rem;
}

.trade-item p
{
  font-size: small;
  color: var(--text-color);
}

.block
{
  background-color:var(--bc-color-player) ;
  border: ridge;
  border-width: 1px;
  border-color: var(--border-color-trade);
  border-radius: 3px;
}