/* #machine
{
  display: flex;
} */

.main-container
{
  display: block;
}

#trade
{
  display: flex;
  justify-content: space-between;
}

.trade-item-container
{
  border-color: #777777;
  background-color:aliceblue ;
}

.trade-item 
{
  display: flex;
  justify-content: space-evenly;
}

.trade-item img
{
  width: 5rem;
  height: 4rem;
}

.item
{
  display: flex;
  justify-content: space-between;
}

.item img
{
  width: 2rem;
}

.item p
{
  color: coral;
}