#machine button
{
  border-style: none;
  background-color: lavender; /*  #4c394d; */
  border: 1px ridge antiquewhite;
  border-radius: 5px;
  color: #DCAE96;
}

.main-container
{
  display: block;
}

#trade
{
  display: flex;
  justify-content: space-between;
}

.total-item-container
{
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-content: space-between;
}

.trade-item-container 
{
  border-style: ridge;
  border-color:antiquewhite;
  border-width: 2px;
  background-color:aliceblue ;
}

.trade-item 
{
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.trade-item img
{
  width: 4rem;
  height: 3rem;
}

.trade-item p
{
  font-size: small;
}

.block
{
  background-color:aliceblue ;
}

.item
{
  display: flex;
  justify-content: space-between;
}

.item img
{
  width: 2rem;
}

.item p
{
  color: coral;
}